<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="advox" translate="label" sortOrder="100">
            <label>Advox</label>
        </tab>
        <section id="special_order_comment" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Special Order Comment</label>
            <tab>advox</tab>
            <resource>Advox_SpecialOrderComment::special_order_comment</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="comment_text" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Comment Text</label>
                </field>
            </group>
        </section>
    </system>
</config>
